@font-face {
  font-family: "Holloway";
  src: url("fonts/Holloway-Regular.woff2") format("woff2"),
    url("fonts/Holloway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --gray-light: #f8f8f8;
  --gray-shadow: #f0f0f0;
  --gray-shadow-dark: #e0e0e0;
  --gray: #9F9F9F;
  --footer-dark: #464646;
  --footer-bottom: #383838;
  --gray-footer: #B6B6B6;
  --gray-color: #9D9D9D;
  --container-bg:#F8F8F8;
}
:root {
  --font-small: 16px;
  --font-medium: 18px;
  --font-large: 20px;
  --font-xlarge: 24px;
  --font-xxlarge: 48px;
  --font-xxxlarge: 120px;
}

@media (max-width: 768px) {
  :root {
    --font-small: 14px;
    --font-medium: 16px;
    --font-large: 18px;
    --font-xlarge: 22px;
    --font-xxlarge: 28px;
    --font-xxxlarge: 55px;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

body {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #414141;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  min-height: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 0 40px;
}

.navbar {
  border-bottom: 1px solid rgb(196 195 195 / 50%);
  position: fixed;
  width: 100%;
  background: var(--white);
  color: var(--black);
  opacity: 1;
  z-index: 100;
  top: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  position: relative;
}

.menu-items {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1.5rem;
}

.logo {
  order: 1;
}

.menu-items li {
  list-style: none;
  font-size: var(--font-small);
}

.menu-items a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navbar a {
  color: var(--black);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: var(--gray);
}

.logo {
  order: -1;
}

.logo img {
  margin-top: 10px;
  height: 35px;
  width: auto;
}
.navbar-phone {
  order: 2;
  font-size: var(--font-small);
  font-weight: 500;
}
.navbar-phone a {
  color: var(--black);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.navbar-phone a:hover {
  color: var(--gray);
}

@media (max-width: 768px) {
  .navbar-phone {
    display: none;
  }

  .navbar-container input[type="checkbox"]:checked ~ .logo {
    display: block;
  }

  .logo img {
    margin-top: 5px;
  }

  .navbar {
    opacity: 1;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    text-align: center;
    position: relative;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 35px;
    top: 20px;
    left: 20px;
    z-index: 15;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 12;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--gray);
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: var(--white);
    height: 100vh;
    max-width: 240px;
    transform: translate(-100%);
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 40px;
    padding-right: 40px;
    transition: transform 0.5s ease-in-out;
    border-right: 1px solid rgb(196 195 195 / 50%);
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    z-index: 10;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: var(--font-medium);
    font-weight: 500;
    text-align: right;
    width: 100%;
  }

  .navbar .menu-items li a {
    display: block;
  }

  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 11;
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .menu-items {
    position: static;
    transform: none;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .navbar-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}
.container-landing {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 0 40px;
}
.content-wrapper {
  margin-top: 24px;
}

.landing-container {
  min-height: 100vh;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.landing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-bottom: 20px;
}

.landing-left {
  text-align: left;
}

.landing-left h2 {
  font-size: var(--font-xxlarge);
}

.landing-subheading {
  font-size: var(--font-xxxlarge);
  color: var(--black);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25), 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 5px rgba(0, 0, 0, 0.15);
  font-family: "Holloway", serif;
  font-weight: 500;
  line-height: 1;
}

.landing-right {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.snowflake-container {
  display: flex;
  gap: 10px;
}

.snowflake {
  font-size: 34px;
  color: var(--black);
}
.fa-snowflake {
  font-size: var(--font-xlarge);
  color: black;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .container-landing {
    width: 100%;
    margin: auto;
    padding: 0 20px;
  }
  .content-wrapper {
    margin-top: 20px;
  }

  .landing-container {
    padding: 40px 0;
  }
  .landing-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .landing-left {
    text-align: center;
  }

  .landing-subheading {
    margin-left: 0;
  }

  .landing-right {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
  }
  .snowflake {
    font-size: 24px;
  }

  .landing-left h2 {
    font-size: var(--font-xlarge);
  }
}
.contact-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 12%;
  width: 100%;
  align-items: start;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-item {
  text-align: left;
  padding-bottom: 20px;
  position: relative;
}

.contact-item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  border-bottom: 1px solid rgb(196 195 195 / 50%);
}

.contact-item p {
  font-size: var(--font-medium);
  color: var(--gray) !important;
  text-decoration: none !important;
  pointer-events: none;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icon {
  width: 40px;
  height: 40px;
  background: var(--white);
  border: 1px solid rgb(196 195 195 / 50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--black);
  font-size: var(--font-medium);
  transition: all 0.3s ease;
}

.social-icon:hover {
  background: var(--white);
  border-color: var(--gray);
}

.contact-right {
  text-align: left;
}

.contact-right p {
  font-size: var(--font-medium);
  color: var(--gray);
  line-height: 1.6;
  margin-bottom: 20px;
}

.contact-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background: var(--black);
  color: var(--white);
  text-decoration: none;
  border-radius: 8px;
  font-size: var(--font-small);
  transition: background 0.3s ease;
  gap: 8px;
}

.contact-button:hover {
  background: var(--gray);
}
.contact-button-service {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: var(--font-small);
  transition: background 0.3s ease;
  gap: 8px;
}
.service-details-grid.collapsed .contact-button-service {
  background-color: var(--gray-light);
  color: var(--black); 
  border: 1px solid rgb(196 195 195 / 20%);
}

.service-details-grid.expanded .contact-button-service {
  background-color: var(--black);
  color: var(--white); 
}
.contact-button-service:hover {
  background: var(--gray);
}

.animate-arrow {
  animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
}

.button-arrow {
  width: 20px;
  height: 20px;
  color: var(--white);
}

@media (max-width: 768px) {
  .contact-info-grid {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 30px;
  }

  .contact-left {
    align-items: center;
    text-align: center;
  }

  .contact-item:not(:last-child)::after {
    left: 50%;
    transform: translateX(-50%);
  }

  .contact-right {
    text-align: justify;
    text-align-last: center;
  }

  .contact-button {
    margin: 0 auto;
    justify-content: center;
  }
  .contact-button-service {
    margin: 0 auto;
    justify-content: center;
  }
}
.container-slider {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 0 40px;
}
.spacer-root{
  padding:60px;
}
.slider-section {
  padding: 60px 0;
  padding-bottom:0px !important;
}

.slider-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1050px;
  min-width: 860px;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  cursor: grab;
  width: 100%;
}

.slide {
  flex: 0 0 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 75px;
  margin: 0 10px;
  min-width: 0;
}

.slide-image {
  width: 400px;
  height: 350px;
  object-fit: cover;
  transition: filter 0.3s ease;
  border-radius: 15px;
  border: 2px solid #ccc;
}

.slide:not(.active) .slide-image {
  filter: grayscale(100%);
}

.slide.active .slide-image {
  filter: none;
  box-shadow: 0 0 0.25em 0.25em rgba(195, 195, 195, 0.25);
}

@media (max-width: 768px) {
  .slider-section {
    padding: 40px 0;
  }

  .slider-container {
    max-width: 787.5px;
    min-width: 645px;
  }

  .slide {
    flex: 0 0 300px;
    padding: 0 56.25px;
    margin: 0 7.5px;
  }

  .slide-image {
    width: 300px;
    height: 262.5px;
  }

  .slide.active .slide-image {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 15px 15px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 500px) {
  .container-slider {
    width: 100%;
    margin: auto;
    padding: 0;
  }

  .slider-section {
    padding: 40px 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }

  .slider-container {
    width: 100vw;
    margin: 0;
    max-width: none;
    min-width: 0;
  }

  .slider-wrapper {
    display: flex;
    gap: 3px;
    transition: transform 0.5s ease;
    cursor: grab;
  }

  .slide {
    flex: 0 0 200px;
    padding: 0;
    margin: 0;
    min-width: 0;
  }

  .slide-image {
    width: 200px;
    height: 175px;
  }

  .slide.active .slide-image {
    box-shadow: 0 0 0.25em 0.25em rgba(195, 195, 195, 0.25);
  }
}
.container-service {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 0 40px;
}
.service-section {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:0px !important;
}

.service-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 20px;
  width: 100%;
}

.service-left {
  text-align: left;
}

.service-left h2 {
  font-size: var(--font-large);
  color: var(--gray);
}

.service-subtitle {
  font-size: var(--font-xxlarge);
  color: var(--black);
  font-weight: 500;
  line-height: 1;
  margin-top: 12px;
}

.service-right {
  text-align: left;
}

.service-right p {
  font-size: var(--font-medium);
  color: var(--gray);
  line-height: 1.6;
}

@media (max-width: 768px) {
  .container-service {
    width: 100%;
    margin: auto;
    padding: 0 20px;
  }
  .service-section {
    padding: 40px 0;
  }
  .service-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .service-left {
    text-align: center;
  }
  .service-right {
    text-align: justify;
    text-align-last: center;
  }
}
.service-details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  background: var(--gray-light);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--gray-shadow-dark);
  margin-top: 40px;
  transition: all 0.3s ease-in-out;
}
.service-details-grid.collapsed {
  background: transparent;
  padding-top: 15px;
  padding-bottom: 0px;
}

.service-content-wrapper {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.service-details-grid.collapsed .service-content-wrapper {
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.service-details-grid.expanded .service-content-wrapper {
  height: auto;
  opacity: 1;
  visibility: visible;
}

.service-details-left {
  display: flex;
  align-items: flex-start;
}

.service-number {
  display: flex;
  align-items: center;
  gap: 10px;
}

.snowflake-wrapper {
  transition: opacity 0.3s ease-in-out;
}
.service-details-grid.collapsed .snowflake-wrapper {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.service-details-grid.expanded .snowflake-wrapper {
  opacity: 1;
  width: auto;
}
.service-number .snowflake {
  font-size: var(--font-small);
  color: var(--black);
}

.service-number .number {
  font-size: var(--font-xlarge);
  color: var(--black);
  font-weight: 600;
}

.service-details-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-details-header h2 {
  font-size: var(--font-xlarge);
  color: var(--black);
}
.service-details-grid.collapsed .service-details-header h2 {
  color: var(--black);
}
.service-details-image {
  width: 100%;
}

.detail-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
  border: 2px solid #ccc;
}

.service-details-right p {
  font-size: var(--font-medium);
  color: var(--gray);
  line-height: 1.6;
}

@media (max-width: 768px) {
  .service-details-grid {
    grid-template-columns: 1fr;
    padding: 20px;
    margin-top: 30px;
  }

  .service-details-left {
    justify-content: center;
  }

  .service-number .snowflake {
    font-size: 24px;
  }

  .service-details-header {
    flex-direction: column;
    gap: 15px;
  }

  .service-details-header h2 {
    text-align: center;
  }

  .detail-image {
    height: 262.5px;
  }
  .service-details-right p {
    text-align: justify;
    text-align-last: center;
  }
}

@media (max-width: 500px) {
  .detail-image {
    height: 175px;
  }
}
.additional-services-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 40px;
}

.service-row {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  background: var(--gray-light);
  border-radius: 15px;
  padding: 15px;
  border: 1px solid var(--gray-shadow);
  align-items: flex-start;
}

.service-number {
  display: flex;
  align-items: center;
  gap: 10px;
}

.service-number .fa-snowflake {
  font-size: var(--font-small);
  color: var(--black);
}

.service-number .number {
  font-size: var(--font-xlarge);
  color: var(--black);
  font-weight: 600;
}

.service-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-details-header h2 {
  font-size: var(--font-xlarge);
  color: var(--black);
}

.service-content p {
  font-size: var(--font-medium);
  color: var(--gray);
  line-height: 1.6;
}

@media (max-width: 768px) {
  .additional-services-grid {
    margin-top: 30px;
  }

  .service-row {
    grid-template-columns: 1fr;
    padding: 20px;
    text-align: center;
  }

  .service-number {
    justify-content: center;
  }

  .service-number .fa-snowflake {
    font-size: 24px;
  }

  .service-details-header {
    flex-direction: column;
    gap: 15px;
  }

  .service-details-header h2 {
    text-align: center;
  }

  .service-content p {
    text-align: justify;
    text-align-last: center;
  }
}
@media (max-width: 768px) {
  .mobile-break {
    display: none !important;
  }
}
@media (max-width: 480px) {
  .mobile-break {
    display: none !important;
  }
}
.container-work {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 0 40px;
}

.work-section {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--container-bg);
}

.work-grid {
  justify-content: center;
  gap: 20px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-left {
  text-align: center;
}
.work-left-text {
  text-align: center;
  max-width: 40%;
}

.work-left h2 {
  font-size: var(--font-large);
  color: var(--gray);
}

.work-subtitle {
  font-size: var(--font-xxlarge);
  color: var(--black);
  font-weight: 500;
  line-height: 1;
  margin-top: 12px;
}
.work-subtitle-text {
  font-size: var(--font-medium);
  color: var(--gray);
  line-height: 1.6;
}

.work-diagram {
  position: relative;
  width: 100%;
  max-width: 70%;
  height: 250px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-small);
  color: #333;
  position: absolute;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  z-index: 1;
}

.design {
  width: 240px !important;
  height: 240px !important;
  background-color: var(--white);
  box-shadow: 0 0 0.25em 0.25em rgba(195, 195, 195, 0.25);
  z-index: 3;
}

.design .inner-circle {
  display: block;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.work-diagram .circle:hover {
  width: 240px !important;
  height: 240px !important;
  background-color: var(--white);
  box-shadow: 0 0 0.25em 0.25em rgba(195, 195, 195, 0.25);
  z-index: 4;
}

.work-diagram .circle:hover::before {
  content: "";
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.work-diagram:has(.circle:hover) .design:not(:hover) {
  width: 200px !important;
  height: 200px !important;
  background: transparent;
  border: 2px solid #ccc;
  box-shadow: none;
  z-index: 1;
}

.work-diagram:has(.circle:hover) .design:not(:hover) .inner-circle {
  display: none;
}

.work-diagram .design:hover {
  width: 240px !important;
  height: 240px !important;
  background-color: var(--white);
  box-shadow: 0 0 0.25em 0.25em rgba(195, 195, 195, 0.25);
  z-index: 5;
}

.work-diagram .design:hover .inner-circle {
  display: block;
}

.discovery {
  left: calc(4% - 100px);
}

.research {
  left: calc(26% - 100px);
}

.iteration {
  left: calc(74% - 100px);
}

.result {
  left: calc(96% - 100px);
}

@media (max-width: 1024px) {
  .work-diagram {
    max-width: 80%;
    height: 200px;
  }

  .circle {
    width: 160px;
    height: 160px;
    font-size: var(--font-medium);
  }
  .design {
    width: 180px !important;
    height: 180px !important;
  }

  .discovery {
    left: calc(-2% - 80px);
  }
  .research {
    left: calc(22% - 80px);
  }
  .design {
    left: calc(45% - 80px);
  }
  .inner-circle {
    width: 160px;
    height: 160px;
  }
  .iteration {
    left: calc(73% - 80px);
  }
  .result {
    left: calc(97% - 80px);
  }
}

@media (max-width: 768px) {
  .work-left-text {
    max-width: 100%;
  }
  .work-diagram {
    display: none;
  }

  .work-diagram-mobile {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px auto;
  }

  .row-work {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .row-work .first-work {
    justify-content: space-between;
  }

  .discovery-mobile,
  .research-mobile,
  .design-mobile {
    flex: 1;
    text-align: center;
    margin: 5px;
  }

  .row-work .second-work {
    justify-content: center;
    gap: 10px;
  }

  .iteration-mobile,
  .result-mobile {
    flex: 1;
    text-align: center;
    margin: 5px;
  }

  .sq-box {
    width: 200px !important;
    height: 100px !important;
    background: white;
    border: 2px solid var(--gray-shadow);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-align: center;
    box-sizing: border-box;
    font-size: 12px !important;
    line-height: 1.2;
    padding: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-weight: 500;
  }

  .sq-box:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
}
.container-recent-projects {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 0 40px;
}
.recent-projects-section {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recent-projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 20px;
  width: 100%;
}

.recent-projects-left {
  text-align: left;
}

.recent-projects-left h2 {
  font-size: var(--font-large);
  color: var(--gray);
}

.recent-projects-subtitle {
  font-size: var(--font-xxlarge);
  color: var(--black);
  font-weight: 500;
  line-height: 1;
  margin-top: 12px;
}

.recent-projects-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.arrow-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 10px;
}

.arrow-btn {
  width: 35px;
  height: 30px;
  background-color: var(--gray-shadow);
  border: none;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.arrow-btn img {
  width: 15px;
  height: 15px;
  object-fit: contain;
}

.arrow-btn:hover {
  background-color: #aaa;
}

@media (max-width: 768px) {
  .recent-projects-right {
    text-align: justify;
    text-align-last: center;
    align-items: center;
  }

  .arrow-buttons {
    justify-content: center;
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .container-recent-projects {
    width: 100%;
    margin: auto;
    padding: 0 20px;
  }
  .recent-projects-section {
    padding: 40px 0;
  }
  .recent-projects-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .recent-projects-left {
    text-align: center;
  }
}

.projects-cards-container {
  position: relative;
  overflow: hidden;
}

.projects-cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}

.projects-cards-grid.active {
  position: relative;
  opacity: 1;
  transform: translateX(0);
}

.arrow-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.project-card {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 6px;
  padding-bottom: 0px;
  border-radius: 10px;
  border: 2px solid var(--gray-shadow);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.project-image {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #ccc;
}

.project-card-content {
  padding: 20px 5px;
}

.project-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.project-title {
  font-size: var(--font-large);
  color: var(--black);
  font-weight: 500;
  margin: 0;
}

.project-year {
  font-size: var(--font-small);
  color: var(--gray);
}

.project-description {
  font-size: var(--font-small);
  color: var(--gray);
  line-height: 1.6;
  margin: 0;
}

@media (max-width: 768px) {
  .projects-cards-grid {
    grid-template-columns: 1fr;
    margin-top: 30px;
    gap: 20px;
  }

  .project-card-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .project-image {
    height: 220px;
  }

  .project-card-content {
    padding: 10px;
  }
}

.footer {
  background: var(--black);
  width: calc(100% - 40px);
  margin: 20px;
  padding: 60px 0;
  border-radius: 15px;
  margin-top: 60px;
}

.footer-container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 0 40px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
  width: 100%;
  align-items: start;
}

.footer-left {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-left h2 {
  font-size: var(--font-medium);
  color: var(--footer-dark);
}

.footer-subheading {
  font-size: var(--font-xxxlarge);
  color: var(--gray-footer);
  font-family: "Holloway", serif;
  font-weight: 500;
  line-height: 1;
  white-space: normal;
}

.footer-text-touch {
  font-style: italic;
  color: #e8e8e8;
}

.footer-contact-item {
  text-align: left;
  padding-bottom: 20px;
  position: relative;
}

.footer-contact-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 26%;
  border-bottom: 1px solid var(--footer-bottom);
}

.footer-contact-item p {
  font-size: var(--font-xlarge);
  color: var(--gray) !important;
  text-decoration: none !important;
  pointer-events: none;
}

.footer-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding-top: 60px;
}

.footer-social .social-icons {
  display: flex;
  gap: 10px;
}

.footer-social .social-icon {
  width: 40px;
  height: 40px;
  background: #101010;
  border: 1px solid rgb(255 255 255 / 50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--white);
  font-size: var(--font-medium);
  transition: all 0.3s ease;
}

.footer-social .social-icon:hover {
  background: var(--gray);
  border-color: var(--white);
}

.footer-bottom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  width: 100%;
  margin-top: 40px;
  align-items: center;
  border-bottom: 1px solid var(--footer-bottom);
  padding-bottom: 20px;
}
.footer-bottom-left {
  text-align: left;
}

.footer-bottom-left h2 {
  font-size: var(--font-small);
  color: var(--gray-color);
}

.footer-bottom-middle {
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer-bottom-middle .logo-footer {
  height: 22px;
  width: auto;
}

.footer-bottom-right {
  text-align: right;
}

.footer-bottom-right h2 {
  font-size: var(--font-small);
  color: var(--gray-color);
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 0;
    width: calc(100% - 20px);
    margin: 10px;
    border-radius: 10px;
  }

  .footer-container {
    padding: 0 20px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
  }

  .footer-left {
    align-items: center;
  }

  .footer-contact-item::after {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer-right {
    text-align: center;
    justify-content: center;
  }

  .footer-social {
    padding-top: 0;
    margin-top: 20px;
    justify-content: center;
  }

  .footer-bottom-grid {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 30px;
    border-bottom: 0px;
    text-align: center;
  }

  .footer-bottom-left {
    text-align: center;
  }

  .footer-bottom-middle {
    text-align: center;
  }

  .footer-bottom-right {
    text-align: center;
  }
}
