@font-face {
  font-family: "Holloway";
  src: url("fonts/Holloway-Regular.woff2") format("woff2"),
    url("fonts/Holloway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --gray-light: #F8F8F8;
  --gray-shadow:#F0F0F0;
  --gray: #666666;
}
:root {
  --font-small: 16px;
  --font-medium: 18px;
  --font-large: 20px;
  --font-xlarge: 24px;
  --font-xxlarge: 48px;
  --font-xxxlarge: 120px;
}

@media (max-width: 768px) {
  :root {
    --font-small: 14px;
    --font-medium: 16px;
    --font-large: 18px;
    --font-xlarge: 22px;
    --font-xxlarge: 28px;
    --font-xxxlarge: 55px;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 0 40px;
}

.navbar {
  border-bottom: 1px solid rgb(196 195 195 / 50%);
  position: fixed;
  width: 100%;
  background: var(--white);
  color: var(--black);
  opacity: 1;
  z-index: 100;
  top: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  position: relative;
}

.menu-items {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1.5rem;
}

.logo {
  order: 1;
}

.menu-items li {
  list-style: none;
  font-size: var(--font-medium);
}

.menu-items a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navbar a {
  color: var(--black);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: var(--gray);
}

.logo {
  order: -1;
}

.logo img {
  margin-top: 10px;
  height: 50px;
  width: auto;
}

@media (max-width: 768px) {
  .logo img {
    margin-top: 0px;
  }
  .navbar {
    opacity: 1;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    text-align: center;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--gray);
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: var(--white);
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    border-right: 1px solid rgb(196 195 195 / 50%);
    overflow: scroll;
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: var(--font-medium);
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .menu-items {
    position: static;
    transform: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .navbar-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}
.container-landing {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 0 40px;
}
.content-wrapper {
  margin-top: 24px;
}

.landing-container {
  min-height: 100vh;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.landing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-bottom: 20px;
}

.landing-left {
  text-align: left;
}

.landing-left h2 {
  font-size: var(--font-xxlarge);
}

.landing-subheading {
  font-size: var(--font-xxxlarge);
  color: var(--black);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25), 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 5px rgba(0, 0, 0, 0.15);
  font-family: "Holloway", serif;
  font-weight: 500;
  line-height: 1;
}

.landing-right {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.snowflake-container {
  display: flex;
  gap: 10px;
}

.snowflake {
  font-size: 34px;
  color: var(--black);
}

@media (max-width: 768px) {
  .container-landing {
   
    width: 100%;
    margin: auto;
    padding: 0 20px;
  }
  .content-wrapper {
    margin-top: 20px;
  }

  .landing-container {
    padding: 40px 0;
  }
  .landing-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .landing-left {
    text-align: center;
  }

  .landing-subheading {
    margin-left: 0;
  }

  .landing-right {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
  }
  .snowflake {
    font-size: 24px;
  }

  .landing-left h2 {
    font-size: var(--font-xlarge);
  }
}
.contact-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 12%;
  width: 100%;
  align-items: start;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-item {
  text-align: left;
  padding-bottom: 20px;
  position: relative;
}

.contact-item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  border-bottom: 1px solid rgb(196 195 195 / 50%);
}

.contact-item p {
  font-size: var(--font-medium);
  color: var(--gray);
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icon {
  width: 40px;
  height: 40px;
  background: var(--white);
  border: 1px solid rgb(196 195 195 / 50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--black);
  font-size: var(--font-medium);
  transition: all 0.3s ease;
}

.social-icon:hover {
  background: var(--white);
  border-color: var(--gray);
}

.contact-right {
  text-align: left;
}

.contact-right p {
  font-size: var(--font-medium);
  color: var(--gray);
  line-height: 1.6;
  margin-bottom: 20px;
}

.contact-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background: var(--black);
  color: var(--white);
  text-decoration: none;
  border-radius: 8px;
  font-size: var(--font-small);
  transition: background 0.3s ease;
  gap: 8px;
}

.contact-button:hover {
  background:var(--gray);
}
.animate-arrow {
  animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(3px); 
  }
}

.button-arrow {
  width: 20px;
  height: 20px;
  color: var(--white);
}

@media (max-width: 768px) {
  .contact-info-grid {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 30px;
  }

  .contact-left {
    align-items: center;
    text-align: center;
  }

  .contact-item:not(:last-child)::after {
    left: 50%;
    transform: translateX(-50%);
  }

  .contact-right {
    text-align: justify;
    text-align-last: center;
  }

  .contact-button {
    margin: 0 auto;
    justify-content: center;
  }
}
.container-slider {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    padding: 0 40px;
}

.slider-section {
    padding: 60px 0;
}

.slider-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1050px;
    min-width: 860px;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    cursor: grab;
    width: 100%;
}

.slide {
    flex: 0 0 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 75px;
    margin: 0 10px;
    min-width: 0;
}

.slide-image {
    width: 400px;
    height: 350px;
    object-fit: cover;
    transition: filter 0.3s ease, box-shadow 0.3s ease; 
    border-radius: 15px;
    border: 2px solid #ccc;
   
}

.slide:not(.active) .slide-image {
    filter: grayscale(100%);
}

.slide.active .slide-image {
    filter: none;
    box-shadow: 0 0 0.25em 0.25em rgba(195, 195, 195, 0.25);

}

@media (max-width: 768px) {
    .slider-section {
        padding: 40px 0;
    }

    .slider-container {
        max-width: 787.5px;
        min-width: 645px;
    }

    .slide {
        flex: 0 0 300px;
        padding: 0 56.25px;
        margin: 0 7.5px;
    }

    .slide-image {
        width: 300px;
        height: 262.5px;
    }

    .slide.active .slide-image {
        box-shadow: 
            0 4px 8px rgba(0, 0, 0, 0.2),
            0 15px 15px rgba(0, 0, 0, 0.3); 
    }
}

@media (max-width: 500px) {
    .container-slider {
        width: 100%;
        margin: auto;
        padding: 0;
    }

    .slider-section {
        padding: 40px 0;
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
    }

    .slider-container {
        width: 100vw;
        margin: 0;
        max-width: none;
        min-width: 0;
    }

    .slider-wrapper {
        display: flex;
        gap: 3px;
        transition: transform 0.5s ease;
        cursor: grab;
    }

    .slide {
        flex: 0 0 200px;
        padding: 0;
        margin: 0;
        min-width: 0;
    }

    .slide-image {
        width: 200px;
        height: 175px;
    }

    .slide.active .slide-image {
        box-shadow: 0 0 0.25em 0.25em rgba(195, 195, 195, 0.25);

    }
}
.container-service {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 0 40px;
}
.service-section {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 20px;
  width: 100%;
}

.service-left {
  text-align: left;
}

.service-left h2 {
  font-size: var(--font-large);
  color: var(--gray);
}

.service-subtitle {
  font-size: var(--font-xxlarge);
  color: var(--black);
  font-weight: 500;
  line-height: 1;
  margin-top:12px;
}

.service-right {
  text-align: left;
}

.service-right p {
  font-size: var(--font-medium);
  color: var(--gray);
  line-height: 1.6;
}

@media (max-width: 768px) {
  .container-service {
    
    width: 100%;
    margin: auto;
    padding: 0 20px;
  }
  .service-section {
    padding: 40px 0;
  }
  .service-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .service-left {
    text-align: center;
  }
  .service-right {
    text-align: justify;
  text-align-last: center;
  }
}
.service-details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  background: var(--gray-light);
  border-radius: 15px;
  padding: 15px;
  border: 1px solid var(--gray-shadow);
  margin-top: 40px;
}

.service-details-left {
  display: flex;
  align-items: flex-start;
}

.service-number {
  display: flex;
  align-items: center;
  gap: 10px;
}

.service-number .snowflake {
  font-size: 34px;
  color: var(--black);
}

.service-number .number {
  font-size: var(--font-xlarge);
  color: var(--black);
  font-weight: 600;
}

.service-details-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-details-header h2 {
  font-size: var(--font-xlarge);
  color: var(--black);
}

.service-details-image {
  width: 100%;
}

.detail-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
  border: 2px solid #ccc;
}

.service-details-right p {
  font-size: var(--font-medium);
  color: var(--gray);
  line-height: 1.6;
}

@media (max-width: 768px) {
  .service-details-grid {
    grid-template-columns: 1fr;
    padding: 20px;
    margin-top: 30px;
  }

  .service-details-left {
    justify-content: center;
  }

  .service-number .snowflake {
    font-size: 24px;
  }

 

  .service-details-header {
    flex-direction: column;
    gap: 15px;
  }

  .service-details-header h2 {
    text-align: center;
  }

  .detail-image {
    height: 262.5px;
  }
  .service-details-right p {
    text-align: justify;
    text-align-last: center;
  }
}

@media (max-width: 500px) {
  .detail-image {
    height: 175px;
  }
}